body{
  background-color: lightgray;
  
}
.top{
  background-color :rgb(47, 51, 46);
  height : 200px;

}
.centered{
  text-align: center;
}
.middle{
  background-color: white;
  height: 1000px;
  width: 900px;
  display: inline-block;
}
.bottom{
  background-color: black;
  height: 100px;
  width: 900px;
  display: inline-block;
}